ud4/09/09.dtd

<!ENTITY escritor "Miguel de Cervantes">
    <!ENTITY escritor "Miguel de Cervantes">
    <!ENTITY escritor "Miguel de Cervantes">
    <!ELEMENT textos (texto)+>
    <!ELEMENT texto (#PCDATA)>
    <!ATTLIST lugares xmlns:xsi CDATA #IMPLIED >
    <!ATTLIST lugares xsi:noNamespaceSchemaLocation CDATA #IMPLIED >