ud6/01/02/data/02.dtd

<!ELEMENT listatickets (ticket+)>
    <!ELEMENT ticket (numero?, fecha?, hora?, producto+, total?)>
        <!ELEMENT numero (#PCDATA)>
        <!ELEMENT fecha (#PCDATA)>
        <!ELEMENT hora (#PCDATA)>
        <!ELEMENT producto (nombre+, precio+)>
            <!ELEMENT nombre (#PCDATA)>
            <!ELEMENT precio (#PCDATA)>
        <!ELEMENT total (#PCDATA)>
